.MuiAccordion-root:before {
  height: 0px !important;
}

.HomePage {
  background-image: url('../images/patrick-robert-doyle-mountain-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.TestHistory {
  background-image: url('../images/box_1920.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.App-body {
  min-height: 95vh;
  max-width: 50vw;
  margin: 0 auto;
}

.Logo {
  height: 6vh;
  min-height: 5vh;
  min-width: 12vw;
  width: auto;
  padding: 2%;
  margin: 1.5%;
  pointer-events: none;
  border: 1px solid slategray;
  transform: translateY(-10vh);
  background: #9999;
  opacity: 1.2;
  border-radius: 25px;
  display: inline-block;
  position: relative;
}

.RouterLinkStyle {
  display: inline-block;
  background-color: #9999;
  opacity: 1.2;
  border: 1px solid slategrey;
  padding: 0.25%;
  height: auto;
  width: 100vw;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.App-title-style {
  text-shadow:
    -1px -1px 0 #949494,
     0   -1px 0 #949494,
     1px -1px 0 #949494,
     1px  0   0 #949494,
     1px  1px 0 #949494,
     0    1px 0 #949494,
    -1px  1px 0 #949494,
    -1px  0   0 #949494;
  color: white;
}

.LinkStyle {
  display: inline-flex;
  color: white;
  margin-right: 2%;
  font-size: large;
}

.LinkStyle:hover {
  color: #89CFF0
}

.PaperTestResultStyle {
  border: 0.5px solid lightgrey;
  padding: 1%;
  margin: 1.5%;
  width: 45vw; 
  display: inline-flex;
  transition: all 0.40s ease-in-out;
}

.PaperTestResultStyle:hover {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
